{% extends "layout.html" %}

{% block title %}
    Insert
{% endblock %}

{% block main %}
    <!-- Insert Medicine form -->
    <form action="/insert" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="medicinename" placeholder="Medicine Name" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="Quantity" type="number" min="1" max="100">
        </div>
        <div class="form-group">
            <label>Medicine last aquired on:</label>
            <input autocomplete="off" autofocus class="form-control" id="dateacquired" name="dateacquired" placeholder="Date acquired" type="date">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="refills" placeholder="Days between refills" type="number" min="1" max="365">
        </div>
        <button class="button" type="submit">Submit!</button>
    </form>

    <script>

        function makeDate(date)
        {
            var dd = String(date.getDate()).padStart(2, '0');
            var mm = String(date.getMonth() + 1).padStart(2, '0');
            var yyyy = date.getFullYear();
            return yyyy + "-" + mm + "-" + dd;
        }

        var today = new Date();
        today = makeDate(today);
        
        console.log(today);

        // Sets datefield min values and current value
        document.getElementById("dateacquired").setAttribute("max", today);
        document.getElementById("dateacquired").setAttribute("min", min);
        document.getElementById("dateacquired").setAttribute("value", today);
    </script>
{% endblock %}