{% extends "layout.html" %}

{% block title %}
    Inventory
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Medicine</th>
                <th class="text-start">Quantity</th>
                <!-- Javascript to constantly change this dat -->
                <th class="text-end">Date acquired</th>
                <th class="text-start">Refill Lasting Length (in days)</th>
            </tr>
        </thead>
       <tbody>
            {% for med in inventory %}
                <tr>
                    <td class="text-start">{{ med.name }}</td>
                    <td class="text-start">{{ med.quantity }}</td>
                    <td class="text-end">{{ med.acquired }}</td>
                    <td class="text-end">{{ med.expiration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form>
        <button class="formbuttons" formaction="/update"> Update </button>
        <button class="formbuttons" formaction="/insert"> Insert </button>
    </form>
{% endblock %}
