{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <!-- Login form -->
    <form action="/" method="post" autocomplete="off">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="button" type="submit">Log In</button>
    </form>
{% endblock %}
